.our-time {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 20px;
    margin-top: 100px;
}

/* Estilos gerais */
.container-devs {
    display: grid;
    gap: 40px;
    margin-top: 90px;
    margin-bottom: 100px;
}

.child {
    margin-bottom: 60px;
}

/* Layout para desktop (4 colunas) */
@media (min-width: 1541px) {
    .container-devs {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Layout para tablet (2 colunas, 2 linhas) */
@media (min-width: 768px) and (max-width: 1540px) {
    .container-devs {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Layout para mobile (1 coluna) */
@media (max-width: 767px) {
    .container-devs {
        grid-template-columns: 1fr;
    }
}

.item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    border: 1px solid #999;
}

.container-devs .child img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.container-devs .child h1.dev-name, 
.container-devs .child h2.dev-function,
.container-devs .child p.dev-bio {
    font-style: normal;
}

.container-devs .child h1.dev-name, 
.container-devs .child h2.dev-function {
    text-align: left;
}

.container-devs .child h1.dev-name {
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    margin-top: 30px;
}

.container-devs .child h2.dev-function {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: .5;
}

.container-devs .child p.dev-bio {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    margin-top: 30px;
}